<mat-drawer-container class="container">
    <mat-drawer mode="side" class="containerDrawer" opened>
      <ul class="listBtn">
        <button mat-raised-button title="Ventas" (click)="changepPage(1)" routerLink="ventas">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
            >sell</mat-icon
          >Ventas
        </button>
        <button mat-raised-button title="Clientes" (click)="changepPage(2)" routerLink="clientes">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
            >people</mat-icon
          >Clientes
        </button>
        <button mat-raised-button title="Proveedores" (click)="changepPage(3)" routerLink="proveedores">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
            >category</mat-icon
          >Proveedores
        </button>
        <button mat-raised-button title="Inventario" (click)="changepPage(4)" routerLink="inventario">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
            >inventory</mat-icon
          >Inventario
        </button>
        <button mat-raised-button title="Pedidos" (click)="changepPage(5)" routerLink="pedidos">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
            >shopp</mat-icon
          >Pedidos
        </button>
      </ul>
      <mat-divider></mat-divider>
      <ul class="listBtn">
        <button mat-raised-button title="Informes" (click)="singOut()">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"
            >logout</mat-icon
          >Cerrar sesión
        </button>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> 
  