.formOrden{
    display: flex;
    flex-direction: row;
}

.rowIcon{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-content: center;
}

.rowIcon div {
    margin-left: 10px;
}

.btnAdd{margin: 20px;
    background-color: #198754;
  }
.containerInputs{    
    align-content: center;
    align-items: center;
}

