<form [formGroup]="supplierForm" class="containerForm">
    <h3 class="title">Agregar proovedor</h3>
    <div class="column">
      <mat-form-field class="inputForm" appearance="legacy">
        <mat-label>Rut</mat-label>
        <input formControlName="rut" matInput />
      </mat-form-field>
      <mat-form-field class="inputForm" appearance="legacy">
        <mat-label>Dv</mat-label>
        <input formControlName="dv" matInput />
      </mat-form-field>
      <mat-form-field class="inputForm" appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field class="inputForm" appearance="legacy">
        <mat-label>Correo</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
      <mat-form-field class="inputForm" appearance="legacy">
        <mat-label>Telefono</mat-label>
        <input formControlName="phone" matInput />
      </mat-form-field>
    </div>
    <div class="containerActionBtns">
      <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
      <button mat-raised-button color="primary" class="btnAdd">Agregar</button>
    </div>
  </form>
  