.container {
    height: 100%;
  }

.containerDrawer{
    
}
.container-body{
    width: 100%;
    background-color: aqua;
}
.listBtn{
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
}
.listBtn > button{
    width: 150px;
    margin: 10px;
    text-align: left;
    padding: 0;
}

.icon{
    padding-right: 10px;
    padding-left: 10px;
}


button{
  
}

