/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.containerActionBtns{
    float: right;
    margin: 10px;
  }
  
  .containerActionBtns > button{
    margin: 10px;
  }
  
.title{
    text-align: center;
    padding: 20px;
}

.inputForm{
  margin: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column{
  display: flex;
  flex-direction: column;
  
  flex-wrap: wrap;
}