<form [formGroup]="productForm" class="containerForm">
  <h3 class="title">Agregar producto</h3>
  <div class="column">
    <mat-form-field class="inputForm" appearance="legacy">
      <mat-label>Nombre producto</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="legacy">
      <mat-label>Cantidad</mat-label>
      <input formControlName="stock" matInput />
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="legacy">
      <mat-label>Fecha expiracion</mat-label>
      <input formControlName="dateExpiration" matInput />
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="legacy">
      <mat-label>imagen</mat-label>
      <input formControlName="image" matInput />
    </mat-form-field>
    <mat-form-field class="inputForm" appearance="legacy">
      <mat-label>Categoria</mat-label>
      <input formControlName="idCategory" matInput />
    </mat-form-field>
  </div>
  <div class="containerActionBtns">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveProduct()" class="btnAdd">Agregar</button>
  </div>
</form>
